/* Desktop Version */
body {
    padding: 100px;
    background-color: hsl(30, 38%, 92%);
    display: grid;
    justify-content: center;
    align-items: center;
}

.card {
    width: 600px;
    height: 450px;
    display: flex;
    position: relative;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 10px 10px rgba(0,0,0,0.01);
    margin: 15px;
}

.col {
    width: 50%;
    height: 100%;
    display: flex;
}

.col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.card-body {
    margin: 30px;
}

.card-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
}

.card-title {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    line-height: 1.7;
}

.row-price {
    display: flex;
    margin: 20px 0 20px 0;
    align-items: center;
}

.card-price {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 32px;
    margin-right: 20px;
    color: hsl(158, 36%, 37%);
}

.card-price-muted {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.cart-button{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    width: auto;
    height: 40px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    padding: 3px 6px;
    margin: 10px 0 0 0;
    border-radius: 8px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-button:hover {
    background-color: hsl(159, 37%, 23%);
}

.fa-cart {
    background: url(../images/icon-cart.svg) no-repeat;
    float: left;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.attribution{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.attribution a{
    text-decoration: none;
}


/* Mobile Version */
@media screen and (max-width: 375px) {
    body {
        padding: 50px;
        background-color: hsl(30, 38%, 92%);
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    .card {
        width: 300px;
        height: 550px;
        display: block;
        position: relative;
        border-radius: 15px;
        background-color: hsl(0, 0%, 100%);
        box-shadow: 0 10px 10px rgba(0,0,0,0.01);
        margin: 15px;
    }
    
    .col-sm {
        width: 100%;
        height: 40%;
        display: flex;
    }

    .col-sm-content {
        width: 100%;
        height: 60%;
        display: flex;
    }
    
    .col img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    
    .card-body {
        margin: 15px;
    }
    
    .card-label {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: hsl(228, 12%, 48%);
    }
    
    .card-title {
        font-family: 'Fraunces', serif;
        color: hsl(212, 21%, 14%);
        font-weight: 700;
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1;
    }
    
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: hsl(228, 12%, 48%);
        line-height: 1.7;
    }
    
    .row-price {
        display: flex;
        margin: 20px 0 20px 0;
        align-items: center;
    }
    
    .attribution{
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: 500;
        text-align: center;
    }
}